In [2]:
import pandas as pd
import numpy as np

In [4]:
# read dataset 
df = pd.read_csv('movies.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,-2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,-2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [6]:
df.shape

(9999, 9)

In [8]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [10]:
#change columns names to lowercase and replaces dashes with underscores
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace('-','_')

In [12]:
#there are missing values we do not have 9999 values in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9999 non-null   object
 1   year      9355 non-null   object
 2   genre     9919 non-null   object
 3   rating    8179 non-null   float64
 4   one_line  9999 non-null   object
 5   stars     9999 non-null   object
 6   votes     8179 non-null   object
 7   runtime   7041 non-null   float64
 8   gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [14]:
#ensure all data types are corret 
df.dtypes

movies       object
year         object
genre        object
rating      float64
one_line     object
stars        object
votes        object
runtime     float64
gross        object
dtype: object

In [16]:
#how many unique values in each column 
#if it lacks more than 1 unique value prolly should drop the column but make sure first
df.nunique()

movies      6816
year         438
genre        510
rating        82
one_line    8688
stars       7877
votes       4129
runtime      261
gross        332
dtype: int64

In [18]:
# will list values in the dataset columns only shows shortened versions of columns not all data can be viewed this way
df.apply(pd.unique)

movies      [Blood Red Sky, Masters of the Universe: Revel...
year        [-2021, (2021– ), (2010–2022), (2013– ), (2020...
genre       [\nAction, Horror, Thriller            , \nAni...
rating      [6.1, 5.0, 8.2, 9.2, nan, 7.6, 6.8, 8.6, 7.9, ...
one_line    [\nA woman with a mysterious illness is forced...
stars       [\n    Director:\nPeter Thorwarth\n| \n    Sta...
votes       [21,062, 17,870, 885,805, 414,849, nan, 25,858...
runtime     [121.0, 25.0, 44.0, 23.0, nan, 50.0, 110.0, 53...
gross       [nan, $75.47M, $402.45M, $89.22M, $315.54M, $5...
dtype: object

In [20]:
#find out how many missing values are in a dataset
df.isnull().sum()

movies         0
year         644
genre         80
rating      1820
one_line       0
stars          0
votes       1820
runtime     2958
gross       9539
dtype: int64

In [22]:
#finding duplicates 
df[df.duplicated(keep=False)]

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
6830,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",9.0,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",6,NaN,NaN
6832,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
6833,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
6835,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",9.0,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",6,NaN,NaN
6836,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",9.0,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",6,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9989,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9990,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9991,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9992,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN

In [24]:
#removes duplicates
df = df.drop_duplicates()

In [26]:
#check to see if duplicates were dropped 
df.shape

(9568, 9)

In [28]:
#removes special charecters from the year column
#\d match digits 0-9
#{4} = match the 4 digits in year in this example
#\d = matches any digit (0-9)
#() captures group to extract matched pattern 
#astype = the data type is a string
df['year'] = df['year'].astype(str).str.extract('(\d{4})')
df.head()

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
C:\Users\squin\AppData\Local\Temp\ipykernel_10628\1511258307.py:7: SyntaxWarning: invalid escape sequence '\d'
  df['year'] = df['year'].astype(str).str.extract('(\d{4})')

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [30]:
#remove special charters from genre column
df['genre'] = df['genre'].str.replace('\n','').str.strip()
df.head(5)

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010,"Drama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [32]:
#remove special charecters from the one_line column
df['one_line'] = df['one_line'].str.replace('\r','')
df['one_line'] = df['one_line'].str.replace('\n','')

In [34]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [36]:
df['stars'] = df['stars'].str.replace('\n','').str.strip()
df['stars'] = df['stars'].str.replace('\r','').str.strip()
df['stars'] = df['stars'].str.replace('|','').str.strip()
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth Stars:Peri Baumei...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,NaN
2,The Walking Dead,2010,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...","885,805",44.0,NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...","414,849",23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer Stars:Matth...,NaN,NaN,NaN

In [38]:

#checks for missing values
df.isnull().sum()

movies         0
year         635
genre         78
rating      1400
one_line       0
stars          0
votes       1400
runtime     2560
gross       9108
dtype: int64

In [40]:
df.dtypes

movies       object
year         object
genre        object
rating      float64
one_line     object
stars        object
votes        object
runtime     float64
gross        object
dtype: object

In [42]:
df.votes.unique()

array(['21,062', '17,870', '885,805', ..., '5,868', '6,873', '911'],
      dtype=object)

In [44]:
# prior to changing data type in votes column remove comma
df['votes'] = df['votes'].str.replace(',','').str.strip()

In [46]:
df['votes'] = pd.to_numeric(df['votes'], errors = 'coerce')
df.dtypes

movies       object
year         object
genre        object
rating      float64
one_line     object
stars        object
votes       float64
runtime     float64
gross        object
dtype: object

In [48]:
df.head(3)

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth Stars:Peri Baumei...,21062.0,121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...",17870.0,25.0,NaN
2,The Walking Dead,2010,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...",885805.0,44.0,NaN

In [50]:
#shows all unique runtimes 
df.runtime.unique()

array([121.,  25.,  44.,  23.,  nan,  50., 110.,  53.,  30., 114.,  42.,
       107.,  60.,  41.,  49.,  51., 109.,  22.,  43., 136.,  46.,  45.,
        58.,  24.,  70.,  64., 148., 395., 101.,  95.,  32., 118.,  47.,
        31., 104., 127.,  54.,  92.,  88.,  59.,  55., 178.,  16.,  48.,
        99., 124., 151., 100.,  40., 149., 119.,  20.,  87., 111.,  91.,
       117., 135., 129., 113.,  15.,  85., 169.,  97., 116., 138., 137.,
       209., 201., 123.,  96., 572., 467., 140.,  56., 112., 125., 145.,
       128., 147.,  90.,  98.,  26., 115., 156., 179., 108.,  34.,  11.,
       152.,  94., 133., 298.,  28., 126., 102., 106., 385., 122., 452.,
       120., 494., 240., 134.,  80.,  89.,  35., 216., 296., 143., 164.,
       386., 363., 150., 105., 131.,  65., 103.,  86.,  52., 356., 154.,
       130., 491., 132.,  93.,  82., 370.,  18., 228.,  84., 280.,  78.,
       316., 264.,  83.,  81., 270., 197., 347., 267.,  37., 230., 233.,
        21., 220., 331.,  39.,   9., 281.,  10., 557.,  33., 461., 460.,
        27., 231., 189., 360., 498., 187.,  75., 629., 144., 542., 258.,
       239., 312., 158., 229., 403.,  57., 142., 313., 306., 358., 139.,
       300., 436., 374., 203., 160.,  29., 192., 191.,  62., 219.,  77.,
        73.,  79.,  36., 236., 204., 210.,  13., 227., 163., 195.,   7.,
       242.,  72., 284., 271., 853.,  76.,  38., 241., 162., 202., 253.,
        74., 333.,  68., 288., 252.,  63.,   3., 351., 217., 337., 170.,
        71., 180., 355., 172., 174.,   8., 573.,  17.,  61.,   5., 437.,
       330., 290., 173., 249., 188.,   1., 303., 211., 205.,  69.,  67.,
       157.,  66., 175., 161.,  14.,  12., 153., 155., 181., 418., 245.,
         4.,  19., 171.,   6.,   2., 373., 141., 146., 165.])

In [52]:
df.rating.unique()

array([6.1, 5. , 8.2, 9.2, nan, 7.6, 6.8, 8.6, 7.9, 7.4, 6. , 8.1, 6.2,
       5.4, 8. , 7.5, 9.4, 8.3, 8.7, 8.9, 8.8, 8.5, 8.4, 6.7, 7.7, 9. ,
       5.8, 3.3, 7.8, 5.7, 6.6, 6.9, 6.5, 7.1, 5.6, 7.3, 9.1, 7.2, 6.4,
       9.3, 7. , 6.3, 3.7, 5.5, 4.6, 4.8, 5.3, 4.7, 5.9, 5.1, 4.9, 2.7,
       4.4, 3.1, 4.5, 4.2, 3.8, 5.2, 2.8, 3.5, 4.3, 3.2, 1.1, 3.9, 4. ,
       3.4, 2.6, 3.6, 3. , 2.5, 2.2, 2.9, 4.1, 2.1, 2. , 2.3, 2.4, 1.8,
       9.6, 9.5, 9.7, 9.9, 9.8])

In [54]:
df.votes.unique()

array([ 21062.,  17870., 885805., ...,   5868.,   6873.,    911.])

In [56]:
df.year.unique()

array(['2021', '2010', '2013', '2020', '2006', '2019', '2016', '2011',
       '2005', '2008', '2017', '1994', '2014', '2015', '2003', '2009',
       '2018', '1987', '2012', '2007', '2000', '1993', '1999', '2001',
       '1997', '1989', '1975', '1995', '1984', '1998', '1966', '1990',
       '2002', '1976', '1978', '2022', '1982', '1968', '2004', '1996',
       '1971', '1980', '1962', '1991', '1960', '1988', '1969', '1961',
       '1979', '1956', '1983', nan, '1986', '1967', '1974', '1992',
       '1958', '1932', '1941', '1950', '1946', '1981', '1952', '1957',
       '1954', '1955', '1948', '1947', '1977', '2023', '1945', '1953',
       '1985', '1973', '1972', '1965', '1944', '1933', '1938'],
      dtype=object)

In [58]:
df.movies.unique()

array(['Blood Red Sky', 'Masters of the Universe: Revelation',
       'The Walking Dead', ..., ' Totenfrau', ' Arcane',
       ' Heart of Invictus'], dtype=object)

In [60]:
df = df[df['runtime']>=90]

In [62]:
df = df[df['runtime']<=120]

In [64]:
df.shape

(1761, 9)

In [66]:
#review runtime column to make sure changes are updated
df.runtime.unique()

array([110., 114., 107., 109., 101.,  95., 118., 104.,  92.,  99., 100.,
       119., 111.,  91., 117., 113.,  97., 116.,  96., 112.,  90.,  98.,
       115., 108.,  94., 102., 106., 120., 105., 103.,  93.])

In [68]:
df.movies.unique()

array(['The Last Letter from Your Lover', 'Gunpowder Milkshake',
       'Fear Street: 1994', ..., ' 13 Reasons Why',
       ' Avatar: The Last Airbender', " WWE's the Bump"], dtype=object)

In [70]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
6,The Last Letter from Your Lover,2021,"Drama, Romance",6.8,A pair of interwoven stories set in the past a...,Director:Augustine Frizzell Stars:Shailene...,5283.0,110.0,NaN
10,Gunpowder Milkshake,2021,"Action, Adventure, Thriller",6.0,Three generations of women fight back against ...,Director:Navot Papushado Stars:Karen Gilla...,17989.0,114.0,NaN
12,Fear Street: 1994,2021,"Drama, Horror, Mystery",6.2,A circle of teenage friends accidentally encou...,"Director:Leigh Janiak Stars:Kiana Madeira,...",50148.0,107.0,NaN
20,Fear Street: 1978,2021,"Drama, Horror, Mystery",6.8,"Shadyside, 1978. School's out for summer and t...","Director:Leigh Janiak Stars:Sadie Sink, Em...",36634.0,109.0,NaN
30,Fear Street: 1666,2021,"Horror, Mystery",6.7,The origins of Sarah Fier's curse are finally ...,"Director:Leigh Janiak Stars:Kiana Madeira,...",27447.0,114.0,NaN

In [72]:
#show how many missing values are in your dataset
df.isnull().sum()

movies         0
year           2
genre          4
rating        29
one_line       0
stars          0
votes         29
runtime        0
gross       1463
dtype: int64

In [74]:
#drops missing rows in year column
df = df.dropna(subset=['year'])

In [76]:
# check to find out if rows were dropped
df.isnull().sum()

movies         0
year           0
genre          3
rating        27
one_line       0
stars          0
votes         27
runtime        0
gross       1461
dtype: int64

In [78]:
df = df.dropna(subset=['genre'])

In [80]:
df = df.dropna(subset=['rating'])

In [82]:
df = df.dropna(subset=['votes'])

In [99]:
df = df.dropna(subset=['gross'])

In [101]:
df.isnull().sum()

movies      0
year        0
genre       0
rating      0
one_line    0
stars       0
votes       0
runtime     0
gross       0
dtype: int64

In [103]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes Stars:Ryan Reynold...,205979.0,118.0,75.47
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel Stars:Taylor Russell...,99351.0,99.0,57.01
144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical video...,"Director:Jake Kasdan Stars:Dwayne Johnson,...",337900.0,119.0,404.52
145,American Psycho,2000,"Comedy, Crime, Drama",7.6,A wealthy New York City investment banking exe...,"Director:Mary Harron Stars:Christian Bale,...",517014.0,101.0,15.07
156,Kill Bill: Vol. 1,2003,"Action, Crime, Drama",8.1,"After awakening from a four-year coma, a forme...",Director:Quentin Tarantino Stars:Uma Thurm...,1034554.0,111.0,70.10

In [105]:
df.shape

(298, 9)

In [107]:
#removes special charecters and allows for actual number to appear
df['gross'] = df['gross'].replace('[^0-9.]','',regex = True)

In [109]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes Stars:Ryan Reynold...,205979.0,118.0,75.47
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel Stars:Taylor Russell...,99351.0,99.0,57.01
144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical video...,"Director:Jake Kasdan Stars:Dwayne Johnson,...",337900.0,119.0,404.52
145,American Psycho,2000,"Comedy, Crime, Drama",7.6,A wealthy New York City investment banking exe...,"Director:Mary Harron Stars:Christian Bale,...",517014.0,101.0,15.07
156,Kill Bill: Vol. 1,2003,"Action, Crime, Drama",8.1,"After awakening from a four-year coma, a forme...",Director:Quentin Tarantino Stars:Uma Thurm...,1034554.0,111.0,70.10

In [120]:
#converts gross to numeric
df['gross'] = pd.to_numeric(df['gross'], errors='coerce')

In [122]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes Stars:Ryan Reynold...,205979.0,118.0,75.47
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel Stars:Taylor Russell...,99351.0,99.0,57.01
144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical video...,"Director:Jake Kasdan Stars:Dwayne Johnson,...",337900.0,119.0,404.52
145,American Psycho,2000,"Comedy, Crime, Drama",7.6,A wealthy New York City investment banking exe...,"Director:Mary Harron Stars:Christian Bale,...",517014.0,101.0,15.07
156,Kill Bill: Vol. 1,2003,"Action, Crime, Drama",8.1,"After awakening from a four-year coma, a forme...",Director:Quentin Tarantino Stars:Uma Thurm...,1034554.0,111.0,70.10

In [124]:
#convert year column to numeric
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [128]:
#calculate decade
df['decade'] = (df['year'] // 10) * 10

In [132]:
#uses group by to calculate average runtime and rating for each decade 
#formatted by reseting the index and prints results
decade_stats = df.groupby('decade').agg({'runtime': 'mean', 'rating': 'mean'}).reset_index()
print(decade_stats)

   decade     runtime    rating
0    1940  100.500000  7.100000
1    1950   95.000000  8.000000
2    1960  108.750000  7.375000
3    1970  104.857143  7.542857
4    1980  108.200000  6.940000
5    1990  108.538462  6.592308
6    2000  102.219512  6.341463
7    2010  103.466667  6.540889

In [134]:
#counts total number of movies released each year 
movies_per_year = df['year'].value_counts().sort_index()
print(movies_per_year)

year
1946     1
1948     1
1958     1
1966     2
1968     1
1969     1
1971     1
1975     1
1976     1
1978     3
1979     1
1983     1
1984     2
1987     1
1989     1
1990     1
1991     1
1993     2
1994     2
1995     2
1996     2
1997     1
1998     2
2000     1
2001     3
2002     3
2003     2
2004     4
2005     5
2006     9
2007     3
2008     6
2009     5
2010    12
2011    17
2012    26
2013    32
2014    23
2015    27
2016    30
2017    30
2018    18
2019    10
Name: count, dtype: int64

In [341]:
#finds the director with the most highly rated movies
df['director'] = df['stars'].str.extract(r'Director:\s*([^|\n]+)Stars:')[0].str.strip()
top_director = df[df['rating'] >= 8.0].groupby('director').size().idxmax()
print(f"Best Director:{top_director}")
#ChatGPT to find out specifically what to extract

Best Director:Hayao Miyazaki

In [343]:
#reshapes dataset into long form 
long_format = df.melt(id_vars=['movies', 'year'], value_vars = ['rating', 'gross'], var_name='Metric', value_name='Value')
print(long_format.head())

                           movies  year  Metric  Value
0          The Hitman's Bodyguard  2017  rating    6.9
1                     Escape Room  2019  rating    6.4
2  Jumanji: Welcome to the Jungle  2017  rating    6.9
3                 American Psycho  2000  rating    7.6
4               Kill Bill: Vol. 1  2003  rating    8.1

In [345]:
df[df['director']=='Hayao Miyazaki']

,movies,year,genre,rating,one_line,stars,votes,runtime,gross,decade,director,rating_order,high_revenue,rating_category,relative_votes,revenue_category
405,Hauru no ugoku shiro,2004,"Animation, Adventure, Family",8.2,When an unconfident young woman is cursed with...,Director:Hayao Miyazaki Stars:Chieko Baish...,351466.0,119.0,4.71,2000,Hayao Miyazaki,Excellent,No,Excellent,80.534443,Moderate_Hit
800,Gake no ue no Ponyo,2008,"Animation, Adventure, Comedy",7.7,A five-year-old boy develops a relationship wi...,Director:Hayao Miyazaki Stars:Cate Blanche...,131204.0,101.0,15.09,2000,Hayao Miyazaki,Good,No,Good,6.037900,Moderate_Hit
870,Kaze no tani no Naushika,1984,"Animation, Adventure, Fantasy",8.1,Warrior and pacifist Princess Nausicaä despera...,Director:Hayao Miyazaki Stars:Sumi Shimamo...,157520.0,117.0,0.50,1980,Hayao Miyazaki,Excellent,No,Excellent,80.944697,Flop

In [347]:
#aggregate total movies and revenue by year 
yearly_stats = df.groupby('year').agg({'movies': 'count', 'gross': 'sum'}).rename(columns= {'movies': 'total_movies'}).reset_index()
print(yearly_stats)

    year  total_movies    gross
0   1946             1     3.25
1   1948             1     1.80
2   1958             1     2.24
3   1966             2    44.35
4   1968             1    33.40
5   1969             1    41.73
6   1971             1     4.00
7   1975             1     1.23
8   1976             1    28.26
9   1978             3   291.88
10  1979             1    20.05
11  1983             1    94.90
12  1984             2    80.54
13  1987             1   156.65
14  1989             1    46.91
15  1990             1    44.14
16  1991             1     0.45
17  1993             2    18.94
18  1994             2   103.67
19  1995             2    75.27
20  1996             2   173.96
21  1997             1    42.87
22  1998             2   209.42
23  2000             1    15.07
24  2001             3   277.71
25  2002             3    41.54
26  2003             2    96.28
27  2004             4    57.23
28  2005             5   148.14
29  2006             9   312.48
30  2007             3     6.57
31  2008             6   294.23
32  2009             5    95.25
33  2010            12   335.45
34  2011            17   494.82
35  2012            26   711.00
36  2013            32  1538.82
37  2014            23   300.79
38  2015            27   268.33
39  2016            30  1184.52
40  2017            30  1372.37
41  2018            18   765.07
42  2019            10   170.27

In [404]:
#pivot table for directors and revenue over the years
director_revenue = df.pivot_table(index='director', columns='year' , values='gross', aggfunc='sum')
print(director_revenue)

year             1946  1948  1958  1966  1968  1969  1971  1976  1978  1979  \
director
Aaron Lieber      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Adam Robitel      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Adam Shankman     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Adam Wingard      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Adrian Lyne       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...               ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
Wilson Yip        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Wing-Cheong Law   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Woody Allen       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Zack Snyder       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Zackary Adler     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

year             ...  2010   2011  2012   2013  2014  2015  2016  2017  2018  \
director         ...
Aaron Lieber     ...   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN  0.59
Adam Robitel     ...   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
Adam Shankman    ...   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
Adam Wingard     ...   NaN  18.47   NaN    NaN   NaN   NaN   NaN   NaN   NaN
Adrian Lyne      ...   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
...              ...   ...    ...   ...    ...   ...   ...   ...   ...   ...
Wilson Yip       ...   NaN    NaN   NaN    NaN   NaN  2.68   NaN   NaN   NaN
Wing-Cheong Law  ...   NaN    NaN   NaN    NaN  0.01   NaN   NaN   NaN   NaN
Woody Allen      ...   NaN  56.82   NaN  33.41   NaN   NaN   NaN   NaN   NaN
Zack Snyder      ...   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
Zackary Adler    ...   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN

year              2019
director
Aaron Lieber       NaN
Adam Robitel     57.01
Adam Shankman      NaN
Adam Wingard       NaN
Adrian Lyne        NaN
...                ...
Wilson Yip         NaN
Wing-Cheong Law    NaN
Woody Allen        NaN
Zack Snyder        NaN
Zackary Adler      NaN

[254 rows x 42 columns]

In [351]:
#identify director with highest revenue
top_revenue_director = director_revenue.sum(axis=1).idxmax()
top_revenue_director = top_revenue_director.replace("\n","").strip()
print(f"Director with highest total revenue:{top_revenue_director}")

Director with highest total revenue:Jake Kasdan

In [353]:
#classify movies based on rating
df['rating_category'] = df['rating'].apply(lambda x: 'Excellent' if x >= 8.0 else 'Good' if x >= 6.5 else 'Average' if x >= 5.0 else 'Poor')
df['rating_category']

77           Good
125       Average
144          Good
145          Good
156     Excellent
          ...
5599         Good
5711         Good
5738         Good
5750         Good
6292         Poor
Name: rating_category, Length: 298, dtype: object

In [369]:
# Identify high revenue movies 1 are high revenue or reach the 75% quantile if not they get a 0 
threshold = df['gross'].quantile(0.75)
df['high_revenue'] = df['gross'].apply(lambda x: 1 if x >= threshold else 0)
df['high_revenue']

77      1
125     1
144     1
145     0
156     1
       ..
5599    0
5711    0
5738    0
5750    0
6292    0
Name: high_revenue, Length: 298, dtype: int64

In [371]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross,decade,director,rating_order,high_revenue,rating_category,relative_votes,revenue_category
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes Stars:Ryan Reynold...,205979.0,118.0,75.47,2010,Patrick Hughes,Good,1,Good,18.290434,Blockbuster
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel Stars:Taylor Russell...,99351.0,99.0,57.01,2010,Adam Robitel,Average,1,Average,100.000000,Blockbuster
144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical video...,"Director:Jake Kasdan Stars:Dwayne Johnson,...",337900.0,119.0,404.52,2010,Jake Kasdan,Good,1,Good,77.842435,Blockbuster
145,American Psycho,2000,"Comedy, Crime, Drama",7.6,A wealthy New York City investment banking exe...,"Director:Mary Harron Stars:Christian Bale,...",517014.0,101.0,15.07,2000,Mary Harron,Good,0,Good,90.059887,Moderate_Hit
156,Kill Bill: Vol. 1,2003,"Action, Crime, Drama",8.1,"After awakening from a four-year coma, a forme...",Director:Quentin Tarantino Stars:Uma Thurm...,1034554.0,111.0,70.10,2000,Quentin Tarantino,Excellent,1,Excellent,40.479420,Blockbuster

In [373]:
#calculates the relative votes for each movie  per genre
df['relative_votes'] = df.groupby('genre')['votes'].transform(lambda x: x/ x.sum() * 100)

In [375]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross,decade,director,rating_order,high_revenue,rating_category,relative_votes,revenue_category
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes Stars:Ryan Reynold...,205979.0,118.0,75.47,2010,Patrick Hughes,Good,1,Good,18.290434,Blockbuster
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel Stars:Taylor Russell...,99351.0,99.0,57.01,2010,Adam Robitel,Average,1,Average,100.000000,Blockbuster
144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical video...,"Director:Jake Kasdan Stars:Dwayne Johnson,...",337900.0,119.0,404.52,2010,Jake Kasdan,Good,1,Good,77.842435,Blockbuster
145,American Psycho,2000,"Comedy, Crime, Drama",7.6,A wealthy New York City investment banking exe...,"Director:Mary Harron Stars:Christian Bale,...",517014.0,101.0,15.07,2000,Mary Harron,Good,0,Good,90.059887,Moderate_Hit
156,Kill Bill: Vol. 1,2003,"Action, Crime, Drama",8.1,"After awakening from a four-year coma, a forme...",Director:Quentin Tarantino Stars:Uma Thurm...,1034554.0,111.0,70.10,2000,Quentin Tarantino,Excellent,1,Excellent,40.479420,Blockbuster

In [377]:
#creates a function called "classify_revenue()" that catergorizes movies based on gross revenue
# movies that grossed below the 33% are FLops movies that were above the 75% are moderate hits and everything else is a blockbuster
def classify_revenue(gross):
    if gross < df['gross'].quantile(0.33):
        return "Flop"
    elif gross < df['gross'].quantile(0.75):
        return "Moderate_Hit"
    else:
        return "Blockbuster"

In [379]:
#adds column revenue_category to dataset 
df['revenue_category'] = df ['gross'].apply(classify_revenue)

In [381]:
df.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross,decade,director,rating_order,high_revenue,rating_category,relative_votes,revenue_category
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes Stars:Ryan Reynold...,205979.0,118.0,75.47,2010,Patrick Hughes,Good,1,Good,18.290434,Blockbuster
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel Stars:Taylor Russell...,99351.0,99.0,57.01,2010,Adam Robitel,Average,1,Average,100.000000,Blockbuster
144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical video...,"Director:Jake Kasdan Stars:Dwayne Johnson,...",337900.0,119.0,404.52,2010,Jake Kasdan,Good,1,Good,77.842435,Blockbuster
145,American Psycho,2000,"Comedy, Crime, Drama",7.6,A wealthy New York City investment banking exe...,"Director:Mary Harron Stars:Christian Bale,...",517014.0,101.0,15.07,2000,Mary Harron,Good,0,Good,90.059887,Moderate_Hit
156,Kill Bill: Vol. 1,2003,"Action, Crime, Drama",8.1,"After awakening from a four-year coma, a forme...",Director:Quentin Tarantino Stars:Uma Thurm...,1034554.0,111.0,70.10,2000,Quentin Tarantino,Excellent,1,Excellent,40.479420,Blockbuster

In [383]:
print(df[['movies', 'gross', 'high_revenue']].head(3))

                             movies   gross  high_revenue
77           The Hitman's Bodyguard   75.47             1
125                     Escape Room   57.01             1
144  Jumanji: Welcome to the Jungle  404.52             1

In [389]:
print(df[['movies','genre', 'votes', 'relative_votes']].head(3))

                             movies                      genre     votes  \
77           The Hitman's Bodyguard      Action, Comedy, Crime  205979.0
125                     Escape Room  Action, Adventure, Horror   99351.0
144  Jumanji: Welcome to the Jungle  Action, Adventure, Comedy  337900.0

     relative_votes
77        18.290434
125      100.000000
144       77.842435

In [391]:
print(df[['movies','gross','revenue_category']].head(3))

                             movies   gross revenue_category
77           The Hitman's Bodyguard   75.47      Blockbuster
125                     Escape Room   57.01      Blockbuster
144  Jumanji: Welcome to the Jungle  404.52      Blockbuster